# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Seaborn

|Data Science Tools|
|---|
|Jupyter Notebooks |
|R Studio |
|Google Colab |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [18]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [16]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

### Objectives:
+ List popular languages for Data Science
+ Some of the commonly used libraries
+ Create table in Jupyter Notebook

## Author
Lakshmi Holla

Niveditha Pandith